
<ul class="nav navbar-nav">
    <li><a href="#ThongTinCoBan">Thông tin cơ bản</a>li>
    <li><a href="#ThucDon">Thực đơn</a>li>
    <li><a href="#Slide">Slide</a>li>
    <li><a href="#BaiViet">Bài Viết</a>li>
    <li><a href="#SeoTag">Seo-Tag</a>li>
</ul>

