<div>
    <h3>Slide</h3>
    <div id="SlideMonAn" class="dt-row">
        @{
            for (int i = 0; i < 4; i++)
            {
                @RenderPage("~/Views/Shared/Image.cshtml");
            }
        }
    </div>
    <div id="SlideKhongGian" class="dt-row">
        @{
            for (int i = 0; i < 4; i++)
            {
                @RenderPage("~/Views/Shared/Image.cshtml");
            }
        }
    </div>
    <div id="SlideTraiNghiem" class="dt-row">
        @{
            for (int i = 0; i < 4; i++)
            {
                @RenderPage("~/Views/Shared/Image.cshtml");
            }
        }
    </div>
</div>