<div id="AnhThucDon" class="dt-center-space dt-row">
    @{
        for (int i = 0; i < 4; i++)
        {
            @RenderPage("~/Views/Shared/Image.cshtml");
        }
    }
</div>
<div id="BangThucDon">

</div>
<div class="dt-margin dt-padding dt-right">
    <button id="#UpdateThucDon" class="btn btn-default">Cập nhật</button>
</div>
